.container {
  width: 1140px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

a, a:hover {
  text-decoration: none;
}


@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');